@import "tailwindcss";

:root {
  --background: #120f1e;
  --foreground: #e1e5ef;
  --blue: #0086ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue: var(--blue);
  --font-mono: var(--font-ubuntu-sans-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    /* --background: #e1e5ef;
    --foreground: #120f1e; */
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

a[href] {
  color: var(--color-blue);
}
